
<div class="text-right">
	<button class="btn btn-xs btn-primary" ng-click="machinesController.create()">Create</button>
</div>
<br>
<table ng-if="machinesController.machines.length > 0"  class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>State</th>
			<th>Group</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="machine in machinesController.machines">
			<td>{{machine.name}}</td>
			<td>{{machine.state}}</td>
			<td>{{machine.groupName}}</td>
			<td>
				<button class="btn btn-xs btn-primary" ng-click="machinesController.view(machine)">View</button>
			</td>
		</tr>
	</tbody>
</table>

